@* @using UrbanZoo.Models; *@
@* @model List<UrbanZoo.Models.Feature>; *@
@model UrbanZoo.Models.Feature;

@{
  ViewData["Title"] = "Edit";
}

<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>Feature Info:</h1>

      <ul>
        <li>Title: @Model.Title</li>
        <li>Description: @Model.Description</li>
        <li>State: @Model.State</li>
        <li>City: @Model.City</li>
        <li>Zipcode: @Model.Zipcode</li>
        <li>Lattitude: @Model.Lat</li>
        <li>Longitude: @Model.Lng</li>
        <li>Post Date: @Model.CreatedDate</li>
        <li>Feature ID: @Model.FeatureId</li>
        <li>Availability: @Model.Availability</li>
      </ul>
      <br>

      <a href="/Features"><p>Return</p></a>
      <a href="/Features/Delete/@(Model.FeatureId)"><p>Delete Feature</p></a>

    </div>
    <div class="col-md">
      <h1>Edit Info:</h1>
      <form action="/Features/Details/@(Model.FeatureId)" method="put">
        <label for="title">Title:</label>
        <input id="title" name="title" type="text" value="@(Model.Title)">
<br>
        <label for="description">Description:</label>
        <input id="description" name="description" type="text" value="@(Model.Description)">
    <br>    
        <label for="availability">Items no longer available or feature cannot be found:</label>
        <input id="availability" name="availability" type="checkbox" @(Model.Availability ? "checked='checked'" : "")/>
<br>
        <button type="submit">Update info!</button>
      </form>
<br>
      <a href="/Features/Details/@(Model.FeatureId)"><p>Return to Details</p></a>


    </div>
  </div>
