@using UrbanZoo.Models;
@model List<UrbanZoo.Models.Feature>;

<h1>All Features:</h1>

<ol>
  @foreach (Feature feature in Model)
  {
    <ul>
      <hr>
      <li>Title: @feature.Title</li>
      <li>Description: @feature.Description</li>
      <li>State: @feature.State</li>
      <li>City: @feature.City</li>
      <li>Zipcode: @feature.Zipcode</li>
      <li>Lattitude: @feature.Lat</li>
      <li>Longitude: @feature.Lng</li>
      <li>Post Date: @feature.CreatedDate</li>
      <li>Availability: @feature.Availability</li>
    </ul>
    <a href="/Features/Details/@(feature.FeatureId)">
      <p>View Details</p>
    </a>
  }
</ol>