@using UrbanZoo.Models;
@model List<UrbanZoo.Models.Feature>;
  
<h1>All Features:</h1>

<ol>
@foreach (Feature feature in Model)
{
    <ul>
        <hr> 
        <li>Title: @feature.Title</li>
        <li>Description: @feature.Description</li>
        <li>State: @feature.State</li>
        <li>City: @feature.City</li>
        <li>Zipcode: @feature.Zipcode</li>
        <li>Lattitude: @feature.Lat</li>
        <li>Longitude: @feature.Lng</li>
        <li>Post Date: @feature.CreatedDate</li>
        <li>Feature ID: @feature.FeatureId</li>
        <li>Availability: @feature.Availability</li>
    </ul>
    <a href="/Features/Details/@(feature.FeatureId)"><p>View Details</p></a>
   
    @* <div id="map">
        <script>
            // Initialize and add the map
            function initMap() {
            // The location of Uluru
            const feature = { lat: @feature.Lat, lng: @feature.Lng };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: feature,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: feature,
                map: map,
            });
            }
</script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw-NRVYJN5qSsNTkATz59olsr0WR5IwVY&callback=initMap&v=weekly"
      defer
    ></script>
window.initMap = initMap;
        
    </div> *@

}
</ol>